@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:ital,wght@0,300;1,200;1,300&display=swap');

@font-face {
    font-family: roxie;
    src: url(/font/Little-Birds.ttf);
}

:root{
    font-family: $font-family;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif; 
}
span{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif; 
}

p{
    font-family: 'Montserrat', sans-serif;
}

